body{   
	background:radial-gradient(circle farthest-side, rgb(255,255,255),rgb(255,255,255) 45%, rgb(255, 255, 160) 55%, rgb(255,255,160));
	background-size: 30px 30px;
	}
.mienai{
	
	opacity: 0;
	font-size: 0%;
	transition: 0.5s;
}
.mieru{
	font-size: 1.5em;
	opacity: 1;
	transition: 0.5s;
}
.red{
	color: red;
}
.lists{
	background-color: yellow;
	border: double 3px lightblue;
	font-size: 2em;
	transition: 0.5s;
	color: black;
}
.lists:hover{
	background-color: lightyellow;
	border: double 3px lightblue;
	font-size: 2.5em;
	transition: 0.5s;
	color: red;
}
.title{
	width: auto;
}
.mienai2{
	display: none;
}
a:link{
	color: blue;
}
a:visited{
	color: blue;
}
a:hover{
	color: red;
}
a{
	text-decoration: solid;
}
